
body{
    font-family: 'Work Sans', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
      
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

nav{
  background-color: white;  
  width: 100%;
  height: 70px;
  position: relative;  
}
nav img{
    width: 70px;
    position: absolute;
    top: 15px;
    left: 200px;
}
nav .links .menu {
   position: absolute;
   top: 20px;
   right: 200px;
   height: 20px;
   width: 35px;
   display: grid;
   align-content: space-around;
  direction: rtl;
  z-index: 2;
}

nav .links .menu div {
    width: 100%;
    height: 1.5px;
    background-color: black;
    transition-duration: 500ms;
}
nav .links .menu :nth-child(2)
{
    width: 60%;    
}
nav .links .menu :last-child{
    height: 3.5px;
}
nav .links:hover .menu div  {
    width: 100%;
    transition-duration: 500ms;
}

nav .links ul a {
    text-decoration: none;
    color: black;
    
}
nav .links ul{
    list-style: none;
    position: absolute;
    right: 200px;
    top: 50px;
    display: none;
    z-index: 1;
}
nav .links ul::after{
    content: "";
    width: 0px;
    height: 0px;
    border: 13px solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: relative;
    top: -189px;
    left: 143px;
    
    
}
 nav .links:hover ul {
    display: block;
 } 

nav .links ul li{
    background-color: #f6f6f6;
    width: 170px;
    padding: 10px;
    padding-left: 20px;
    border-top: rgb(221, 220, 220) solid 1px;
    transition-duration: 500ms;
}
nav .links ul li:hover{
    padding-left: 25px;
    transition-duration: 500ms;
    
}
nav .links ul li:first-child{
    border-top: transparent solid 0px;

}


/* end nav */
/* strat cover */
.cover{
    background-image:url(../images/landing.jpg) ;
    background-size:cover;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.cover * {
  padding-bottom: 20px;
}
.cover h1 {
  font-size: 50px;
  padding-bottom: 25px;
  color: #10cab7;
}
.cover p {
  font-size: 20px;
}
/* end cover */
/* start second part */
.second-part {
  background-color: #f6f6f6;
}
.second-part .container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 550px ;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
}
.second-part .container .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}
.second-part .container .card p {
  text-align: center;
  line-height: 30px;
  font-size: 17px;
  padding-top: 50px;
  color: #777;
}
.second-part .container .card i {
  color: #10cab7;
  font-size: 60px;
  padding-bottom: 40px;
}
/* end second part */
/* start services */
.services .container {
  height: calc(100vh + 200px);
  display: grid;
  padding-top: 100px;
  align-items: center; 
  grid-template-rows: 25% 30% 30% 15%;
  grid-template-areas: "ser ser ser ser ser ser ser ser" "Gd Gd Gd Gd Wd Wd Wd Wd" "Ui Ui Ui Ui De De De De";
  
}
.services .container .title {
  grid-area: ser;
  margin: auto;
}
.services .container .title h1{
  font-size: 110px; 
   color: #ebeced;
}
.services .container .title p {
  text-align: center;
  position: relative;
  top: -35px;
  font-size: 20px;
  color: #797979;
}
.services .container .card i {

  position: relative;
  top: 28px;
  right: 70px;
  font-size: 40px;
  color: #10cab7;
  
}
.services .container .card h3 {
  padding-bottom: 40px;

}
.services .container .card p {
  font-size: 19px;
  line-height: 30px;

}
.services .container .card1{
  grid-area: Gd;
}
.services .container .card2  {
  grid-area: Wd;
}
.services .container .card3  {
  grid-area: Ui;
}
.services .container .card4  {
  grid-area: De;
}
/* end services */
/* start protfolio */
.portfolio {
  background-color: #f6f6f6 ;
}
 .title2 {
  text-align: center;
  padding-top: 80px;

}
 .title2 h1 {
  
  font-size: 90px; 
   color: #ebeced;
 
}

 .title2 p {
  text-align: center;
  position: relative;
  top: -30px;
  font-size: 20px;
  color: #797979;
}
.portfolio .container .cards {

    display: grid;
    grid-template-columns:  repeat(3, 32%);
    grid-template-rows: 450px;
    column-gap: 2%;
    padding-bottom: 60px;
    padding-top: 70px;
 

}

.portfolio .container .cards .cardd {
  background-color: white;
}
.portfolio .container .cards .cardd img{

  width: 100%;
  height: 60%;

}
.portfolio .container .cards .cardd h3 {
  padding: 20px 25px;
}

.portfolio .container .cards .cardd p {
  padding: 5px 25px 20px ;
  line-height: 28px;
  color: #777;
}
/* end portfolio */
/* start about */
.box {
  display: grid;
  grid-template-columns: 35% 60%;
  grid-template-rows: 400px;

  column-gap: 5%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.box .image {

  position: relative;
}

.box .image div:first-child{
  position: absolute;
  width: 90px;
  display: inline;
  height: 100%;
  background-color: #ebeced;
}
.box .image div:nth-child(2){
  position: absolute;
  right: 120px;
  display: inline;
  width: 70px;
  height: 80%;
  background-color: #10cab7;
 
}
.box .image div:nth-child(3){
  position: absolute;
  right: 0;
  top: calc(80% - 60px);
  display: inline;
  width: 120px;
  height: 60px;
  background-color: #10cab7;
 
}
.box .image img {
  width: 55%;
  position: absolute;
  top: 35px;
  left: 25px;
}
.box .talk p:first-child{
  font-weight: bold;
  font-size: 17px;
  line-height: 35px;
}
.box .talk p:last-child{
  line-height: 35px;
  color: #777;
}
.box .talk hr {
  margin: 70px 0;
  background-color:#10cab7 ;
  height: 3.5px;
  width: 50%;
}
/* end about */
/* start contact us */
.contact {
  background-color: #f6f6f6 ;
  height: 450px;
}
.contact h1:not(:first-child) {
  text-align: center;
  font-weight: bold;
}
.contact h1:nth-child(2){
  margin-top: 40px;
  margin-bottom: 20px;
  color: #2c4755;
}
.contact h1:nth-child(3){
  margin-bottom: 20px;
  color:#10cab7 ; 
}
.contact p {
  text-align: center;
}
.contact p i {
  color: #2c4755;
}
/* end contact us */
/* start footer */
.footer {
  width: 100%;
  height: 90px;
  background-color: #2c4755 ;
  text-align: center;
  line-height: 90px;
  font-size: 20px;
  color: white;
}

.footer span {
  font-weight: bold;
  color:#10cab7 ;
}
/* end footer */
